{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %}<title>Зеленая страна | Утилизация макулатуры</title>{% endblock %}

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'core/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'core/css/landing-page.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'core/css/popup.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet" type="text/css">
{#    <link href="{% static 'core/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">#}
    <link href="{% static 'core/css/slick.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'core/css/slick-theme.css' %}" rel="stylesheet" type="text/css">

    <script src="https://api-maps.yandex.ru/2.1/?lang=eu_RU" type="text/javascript"></script>
    <script src="{% static 'core/js/jquery.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/js/jquerycookie.js' %}"></script>
    <script src="{% static 'core/js/popup.js' %}"></script>

{#    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">#}

</head>

<body>
    {% block header %}
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" style="background-color: rgba(246,246,246,0.9)">
        <div class="container topnav" style="">
            <div class="navbar-header" style="margin-top: 12px">
                <a class="navbar-brand" href="{% url 'core:index' %}"><img style="width: 64px;" src="{% static 'core/img/212.png' %}">
                    Зеленая Страна
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="text-align: center ">
                <ul class="nav navbar-nav" style="display: inline-block;float: none;vertical-align: top;">
                    <li>
                        <a href="{% url 'core:index' %}#raw" >{{ page.service_header_link }}</a>
                    </li>
                    <li>
                        <a href="{% url 'core:index' %}#advantage">{{ page.advantage_header_link }}</a>
                    </li>
                    <li>
                        <a href="{% url 'core:index' %}#about">{{ page.about_header_link }}</a>
                    </li>
                    <li>
                        <a href="{% url 'core:index' %}#clients">{{ page.clients_header_link }}</a>
                    </li>
                    <li>
                        <a href="{% url 'core:index' %}#contacts">{{ page.contacts_header_link }}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <p class="navbar-text" style="color: black"><a style="line-height: 0px;" href="tel:{{ page.phone }}"><span class="icon-phone"></span> {{ page.phone }}</a><br/>
                        <a style="line-height: 0px;" href="mailto:info@zelenaya-strana.ru"><span class="icon-envelope"></span> info@zelenaya-strana.ru</a><br/>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
    {% block content %}
    {% endblock %}

    {% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="{% url 'core:index' %}">Зеленая страна</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{% url 'core:index' %}#raw">{{ page.service_header_link }}</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>

                        <li>
                            <a href="{% url 'core:index' %}#advantage">{{ page.advantage_header_link }}</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{% url 'core:index' %}#about">{{ page.about_header_link }}</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{% url 'core:index' %}#clients">{{ page.clients_header_link }}</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{% url 'core:index' %}#contacts">{{ page.contacts_header_link }}</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">{{ page.footer_text }}</p>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
    <!-- form itself -->
    <script src="{% static 'core/js/slick.js' %}"></script>
</body>

</html>
