{% extends 'base.html' %}
{% block content %}
    <br/>
    <br/>
    <div class="content-section-b">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6" style="text-align: center">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading" style="text-align: center">{{ eco.first_header }}</h2>
                    <p class="lead">{{ eco.first_text|safe }}</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    {% if eco.first_use_video %}
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="{{ eco.first_video }}"></iframe>
                        </div>
                    {% else %}
                        <img class="img-responsive img-rounded" src="{{ eco.first_image.url }}" alt="">
                    {% endif %}
                </div>
            </div>

        </div>

    </div>

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading" style="text-align: center">{{ eco.second_header }}</h2>
                    <p class="lead">{{ eco.second_text|safe }}</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive img-rounded" src="{{ eco.second_image.url }}" alt="">
                </div>
            </div>

        </div>
    </div>

    <div class="content-section-b">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading" style="text-align: center">{{ eco.third_header }}</h2>
                    <p class="lead">{{ eco.third_text|safe }}</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive img-rounded" src="{{ eco.third_image.url }}" alt="">
                </div>
            </div>
            <br/>
            <div class="row" style="text-align: center">
                <a class="popup-with-form btn btn-success" href="#eco-form" style="height: 50px; padding-top: 13px; width: 300px">Принять участие в ЭКО-Проекте</a>
            </div>
        </div>
    </div>

    <div class="content-section-a">
        <div class="container">
            <div class="row" style="text-align: center; height: 300px; overflow: hidden">
                <div class="photos">
                    {% for p in photos %}
                        <div class="col-lg-2 col-md-3">
                            <img class="img-rounded img-responsive" src="{{ p.image.url }}" alt="{{ p.text }}" >
                            <h5>{{ p.text }}</h5>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

     <div class="content-section-b">
        <div class="container">
            <a name="contacts" style="padding-top: 60px; display: block; margin-top: -50px;"></a>
            <div class="row">
               <div class="col-lg-12" style="text-align: center">
                    <hr class="intro-divider" />
                    <h2>{{ eco.clients_header }}</h2>
                    <hr class="intro-divider" />
                </div>
                <div class="col-lg-offset-1"></div>
                {% for p in partners %}
                    <div class="col-sm-3 col-lg-2 col-md-3" style="text-align: center">
                        <img src="{{ p.image.url }}" alt="{{ p.text }}" class="img-responsive">
                        <div class="caption" style="margin-top: 20px; color: black">
                            <h4>{{ p.text }}</h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
     </div>

     <div class="content-section-a">
        <div class="container">
            <a name="contacts" style="padding-top: 60px; display: block; margin-top: -50px;"></a>
            <div class="row">
               <div class="col-lg-12" style="text-align: center">
                    <hr class="intro-divider" />
                    <h2>{{ eco.placemarks_header }}</h2>
                    <hr class="intro-divider" />
                </div>
            </div>
        </div>
         <br/>
         <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" style="padding-left: 0; padding-right: 0;">
                    <div id="map" style="width: 100%; height: 400px;">

                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="content-section-b">
        <div class="container">
            <div class="row">
               <div class="col-lg-12" style="text-align: center; margin-top: -50px;">
                    <h2>Остались вопросы? <br/>Мы вам перезвоним! <span class="icon icon-phone"></span> </h2>
                </div>
                <div class="col-lg-offset-4 col-lg-4">
                    <form action="{% url 'core:callback' %}" class="white-popup-block well callback-form" style="color: black; padding-top: 0px; font-weight: normal" data-id="footer-form">
                        <div style="text-align: center; margin-bottom: 20px;" >
                            <h3>Заказать обратный звонок</h3>
                        </div>
                        {% csrf_token %}
                          <div class="form-group name-footer-form">
                            <input name="name" type="text" class="form-control" id="name" placeholder="Ваше имя">
                            <span id="helpBlock" class="help-block name-footer-form-error" style="display: none;"></span>
                          </div>
                          <div class="form-group phone-footer-form">
                            <input name="phone" type="text" class="form-control" id="phone" placeholder="Ваш телефон">
                            <span id="helpBlock" class="help-block phone-footer-form-error" style="display: none;"></span>
                          </div>
                          <div class="form-group raw_type-footer-form">
                              <input name="raw_type" value="Эко-проект" type="hidden" class="form-control" id="raw_type" placeholder="Вид сырья">
                           </div>
                        <div style="text-align: center">
                        <button type="submit" class="btn btn-default">Отправить заявку</button>
                        </div>
                    </form>
                     <div class="form-message-footer-form" style="display: none">
                        <div class="clearfix"></div>
                        <h4 class="section-heading">Спасибо!<br>Мы скоро вам перезвоним</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        {% load l10n %}
        $(document).ready(function () {
            var map;
            var placemarks = {{ eco.placemarks|safe }};
            ymaps.ready(function () {
                map =  new ymaps.Map("map", {
                    center: [55.7505043516626, 37.625809734456126],
                    zoom: 10
                });
                $.each(placemarks, function (index, value) {
                    map.geoObjects.add(new ymaps.Placemark(
                        [value[0], value[1]], {
                            balloonContent: '<strong>' + value[2] + '</strong> <br/>'
                        }, {
                            preset: 'islands#dotIcon',
                            iconColor: '#735184'
                        })
                    )
                });

            });

        });
    </script>
    {% include 'blocks/eco-form.html' %}
{% endblock %}