{% extends 'base.html' %}
{% block content %}
    <div class="intro-header" style="background-image: url({{ page.header_image.url }})">
        <br/><br/>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>{{ page.header }}</h1>
                    </div>
                </div>

                <div class="col-lg-offset-9 col-lg-3 well" style="margin-top: 50px; color: black; background-color: rgba(245, 245, 245, 0.8); padding-top: 0px;">
                    <h3>УЗНАТЬ ЦЕНУ ЗА КГ</h3>
                    <form action="{% url 'core:callback' %}" method="post" class="callback-form">
                    {% csrf_token %}
                          <div class="form-group name">
                            <input name="name" type="text" class="form-control" id="name" placeholder="Ваше имя">
                            <span id="helpBlock" class="help-block name-error" style="display: none;"></span>
                          </div>
                          <div class="form-group phone">
                            <input name="phone" type="text" class="form-control" id="phone" placeholder="Ваш телефон">
                            <span id="helpBlock" class="help-block phone-error" style="display: none;"></span>
                          </div>
                        <div class="form-group from_page">
                            <input name="from_page" value="{{ page_name }}" type="text" class="form-control" id="from_page" placeholder="Вид сырья">
                            <span id="helpBlock" class="help-block from_page-error" style="display: none;"></span>
                        </div>
                        <button type="submit" class="btn btn-default">Отправить заявку</button>

                    </form>

                    <div class="form-message" style="display: none">
                        <div class="clearfix"></div>
                        <h4 class="section-heading">Спасибо!<br>Мы скоро вам перезвоним</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    <div class="content-section-b">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-5 col-sm-6">#}
{#                    <hr class="section-heading-spacer">#}
{#                    <div class="clearfix"></div>#}
{#                    <h2 class="section-heading">Узнайте цену</h2>#}
{#                    <p class="lead">Оставьте свой телефон и мы перезвоним</p>#}
{#                </div>#}
{#                <div class="col-lg-5 col-lg-offset-2 col-sm-6">#}
{#                    <form action="{% url 'core:callback' %}" method="post" class="callback-form">#}
{#                    {% csrf_token %}#}
{#                      <div class="form-group name">#}
{#                        <label for="name">Ваше имя</label>#}
{#                        <input name="name" type="text" class="form-control" id="name" placeholder="Ваше имя">#}
{#                        <span id="helpBlock" class="help-block name-error" style="display: none;"></span>#}
{#                      </div>#}
{#                      <div class="form-group phone">#}
{#                        <label for="phone">Ваш телефон</label>#}
{#                        <input name="phone" type="text" class="form-control" id="phone" placeholder="Телефон">#}
{#                        <span id="helpBlock" class="help-block phone-error" style="display: none;"></span>#}
{#                      </div>#}
{#                      <button type="submit" class="btn btn-default">Отправить</button>#}
{#                      <input name="from_page" value="{{ page_name }}" style="display: none;">#}
{#                    </form>#}
{##}
{#                    <div class="form-message" style="display: none">#}
{#                        <div class="clearfix"></div>#}
{#                        <h4 class="section-heading">Спасибо!<br>Мы скоро вам перезвоним</h4>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="container-section-b">#}
{#        <div class="container" style="text-align: center;">#}
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
    {#                    <div class="intro-message">#}
{#                        <hr class="intro-divider" />#}
{#                        <h1>Виды сырья, которые мы принимаем</h1>#}
{#                        <hr class="intro-divider" />#}
    {#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <div class="content-section-b">
        <a name="raw" style="padding-top: 60px; display: block; margin-top: -50px;"></a>
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="text-align: center">
                    <hr class="intro-divider" />
                    <h2>{{ page.service_header }}</h2>
                    <hr class="intro-divider" />
                </div>
                <div class="col-lg-1"></div>
                {% for r in raw %}
                    <div class="col-sm-3 col-lg-2 col-md-3" style="text-align: center">
                        <a href="{% url 'core:raw' r.id %}">
                            <img src="{{ r.image.url }}" alt="{{ r.text }}" class="img-responsive">
                        </a>
                        <div class="caption" style="margin-top: 20px;">
                            <h4>{{ r.text }}</h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    <!-- /.content-section-a -->
    </div>

    <div class="content-section-a">
        <div class="container-fluid" >
        <a name="advantage" style="padding-top: 60px; display: block; margin-top: -50px;"></a>
            <div class="row">
                <div class="col-lg-12" style="text-align: center">
                    <hr class="intro-divider" />
                    <h2>{{ page.advantage_header }}</h2>
                    <hr class="intro-divider" />
                </div>
                    <div class="col-lg-12">
                        <img class="img-responsive" src="{{ page.advantage_image.url }}">
                    </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-b">

        <div class="container">
            <a name="about" style="padding-top: 60px; display: block; margin-top: -50px;"></a>
            <div class="row">
                <div class="col-lg-12" style="text-align: center">
                    <hr class="intro-divider" />
                    <h2>{{ page.about_header }}</h2>
                    <hr class="intro-divider" />
                </div>
                <div class="col-lg-12">
                    {{ page.about_text|safe }}
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-a">
        <div class="container">
        <a name="clients" style="padding-top: 60px; display: block; margin-top: -50px;"></a>
            <div class="row">
                <div class="col-lg-12" style="text-align: center">
                    <hr class="intro-divider" />
                    <h2>{{ page.clients_header }}</h2>
                    <hr class="intro-divider" />
                </div>
                <div class="col-lg-12">
                    <div class="clients">
                        {% for c in clients %}
                            <div class="col-lg-2 col-md-3">
                                <img class="img-rounded img-responsive" src="{{ c.image.url }}" alt="{{ c.text }}" >
                                <h5>{{ c.text }}</h5>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="content-section-b">
        <div class="container">
            <a name="contacts" style="padding-top: 60px; display: block; margin-top: -50px;"></a>
            <div class="row">
               <div class="col-lg-12" style="text-align: center">
                    <hr class="intro-divider" />
                    <h2>{{ page.contacts_header }}</h2>
                    <hr class="intro-divider" />
                </div>
                <div class="col-lg-12">
                    {{ page.contacts_text|safe }}
                </div>
                <div class="col-lg-12">
                    <div id="map" style="width: 100%; height: 400px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}