{% extends 'base.html' %}
{% block content %}
    <br/>

     <div class="content-section-b">
        <a name="raw" style="padding-top: 60px; display: block; margin-top: -50px;"></a>
        <div class="container">
        {% if raw_details %}
            <div class="row">
                <div class="col-lg-12" style="text-align: center; margin-bottom: 25px;">
                    <hr class="intro-divider" />
                    <h2>{{ header }}</h2>
                    <hr class="intro-divider" />
                </div>
                {% for r in raw_details %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="row">
                    {% endif %}
                    <div class="col-sm-4 col-lg-4 col-md-4" style="text-align: center">
                        <img src="{{ r.image.url }}" alt="{{ r.text }}" class="img-responsive img-rounded" style="">
                        <h4>{{ r.name }}</h4>
                        <p style="font-weight: 300">{{ r.description }}
                        <br/><span style="font-weight: 500;">{{ r.price }}</span></p>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                       </div>
                    {% endif %}
                {% endfor %}
            </div>
            <br/>
            <br/>

            <div class="row" style="text-align: center">
                <a class="popup-with-form btn btn-success" href="#callback-form" style="height: 50px; padding-top: 13px; width: 300px">{{ button_text }}</a>
            </div>
        {% endif %}
            <div class="row">
                <div class="col-lg-12">
                    {{ text|safe  }}
                </div>
            </div>
        {% if raw_details|length == 0 %}
            <div class="row" style="text-align: center">
                <a class="popup-with-form btn btn-success" href="#callback-form" style="height: 50px; padding-top: 13px; width: 300px">{{ button_text }}</a>
            </div>
        {% endif %}
        </div>
    </div>
    {% include 'blocks/form.html' with hide_raw=True id='raw_detail' header='Заказать вывоз'%}
{% endblock %}