{% extends 'base.html' %}
{% block content %}
    <br/>

     <div class="content-section-b">
        <a name="raw" style="padding-top: 60px; display: block; margin-top: -50px;"></a>
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="text-align: center">
                    <hr class="intro-divider" />
                    <h2>{{ header }}</h2>
                    <hr class="intro-divider" />
                </div>
                {% for r in raw_details %}
                    <div class="col-sm-4 col-lg-4 col-md-4" style="text-align: center">
                        <img src="{{ r.image.url }}" alt="{{ r.text }}" class="img-responsive">
                        <h4>{{ r.name }}</h4>
                    </div>
                {% endfor %}
            </div>
            <br/>
            <br/>
            <div class="row" style="text-align: center">
                <a class="popup-with-form btn btn-success" href="#callback-form" style="height: 50px; padding-top: 13px; width: 300px">Заказать вывоз прямо сейчас</a>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {{ text }}
                </div>
            </div>
        </div>
    </div>
    {% include 'blocks/form.html' with hide_raw=True id='raw_detail' %}
{% endblock %}